.service {
	background-color: bisque;
	width: 20vw;
}

.bitmap {
	position: relative;
}

.website .loremipsumdolorsicopy {
	position: relative;
	font-family: 'AvenirNext-Regular', Helvetica, Arial, serif;
	font-size: 2em;
	color: rgba(43, 43, 43, 1);
	text-align: center;
}
