.service {
	background-color: bisque;
	width: 30%;
	height: 500px;
}

.bitmap {
	width: 100%;
	height: auto;
}

.bodyText {
	position: relative;
	font-family: 'AvenirNext-Regular', Helvetica, Arial, serif;
	font-size: 1.2rem;
	color: rgba(43, 43, 43, 1);
	text-align: center;
}
