.aboutUsContent {
	width: 40vw;
	text-align: center;
}

.title {
	margin: 0px;
}

.title {
	font-size: 2.5rem;
}

.phoneNumber {
	color: #ba55d3 !important;
	font-weight: 700;
	margin-bottom: 20px !important;
}

.description {
	margin-bottom: 50px;
	font-size: 1.4rem;
	color: grey;
}

.separator {
	width: 15%;
	height: auto;
	margin-bottom: 10px;
}

@media screen and (max-width: 850px) {
	.aboutUsContent {
		width: 80vw;
	}
	.title {
		font-size: 2rem;
	}
	.description {
		margin-bottom: 10px;
		font-size: 1.1rem;
		color: grey;
	}
}
