.aboutUsContent {
	width: 40vw;
	text-align: center;
}

.title {
	margin: 0px;
}

.title {
	font-size: 2.5rem;
}

.description {
	margin-bottom: 50px;
	font-size: 1.2rem;
	color: grey;
}

.separator {
	width: 15%;
	height: auto;
	margin-bottom: 10px;
}
