.offerbody {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 80px 0;
}

.offertext {
	/* width: 100%;
	margin: 50px; */
}

.offerbody img {
	width: 30%;
	height: auto;
	margin: 30px 5px;
}

.offerbody p {
	color: white;
	margin: 30px;
}

.offerBodyTitle {
	font-size: 2.5vw;
}

.offerBodyText {
	line-height: 2vw;
	font-size: 1.5vw;
}

@media screen and (max-width: 850px) {
	.offerbody {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0;
	}
	.offerbody img {
		width: 50%;
		height: auto;
		margin: 30px 5px;
	}
	.offerBodyTitle {
		font-size: 6vw;
		text-align: center;
	}
	.offerBodyText {
		line-height: 5vw;
		font-size: 4vw;
		text-align: left;
	}
	.offertext {
		width: 95%;
		align-self: center;
	}
}
