.mainContent {
	width: 80vw;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.maintitle {
	font-size: 7rem;
}

.mainpicture {
	width: 100%;
	height: auto;
}
