.mainContent {
	width: 70vw;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.mainText {
	background: -webkit-linear-gradient(#9032eb 0%, #df3590 51%, #9032eb 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.maintitle {
	font-size: 5.5vw;
}

.mainpicture {
	width: 50%;
	height: auto;
}

@media screen and (max-width: 850px) {
	.mainContent {
		width: 90vw;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}
	.maintitle {
		font-size: 10vw;
		text-align: center;
	}
	.mainpicture {
		width: 80%;
		height: auto;
	}
}
