.header {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	width: 80vw;
	height: 5rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

a {
	text-decoration: none;
}

a:link,
a:visited {
	color: #9932cc;
}

a:hover {
	color: #ba55d3;
}

.headerItem {
	margin-right: 80px;
}

.header p {
	font-size: 1rem;
	font-weight: 700;
	text-transform: uppercase;
}

#kontaktButton {
	margin: 0px;
}

@media screen and (max-width: 850px) {
	.header {
		width: 90vw;
		height: 20vw;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	}
	.headerItem {
		margin-right: 20px;
	}
	.header p {
		font-size: 3vw;
		font-weight: 700;
		text-transform: uppercase;
	}
}
