.footer {
	width: 100%;
	font-size: 15px;
	margin-top: 150px;
	text-align: center;
	color: white;
	background-image: linear-gradient(to right, #9032eb 0%, #df3590 51%, #9032eb 100%);
}

.footerText {
}

@media screen and (max-width: 850px) {
	.footer {
		width: 100%;
		margin-top: 50px;
	}
	.footerText {
		font-size: 12px;
	}
}
