.service {
	/* display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center; */
	background-color: bisque;
	width: 30%;
	height: 500px;
}

.imageService {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60%;
}

.bitmap {
	width: 80%;
	height: 80%;
}

.bodyText {
	margin: 1.2rem;
	font-size: 1rem;
	color: rgba(43, 43, 43, 1);
	text-align: center;
}

@media screen and (max-width: 850px) {
	.service {
		background-color: bisque;
		width: 100%;
		height: 420px;
		margin-bottom: 40px;
	}
	.bodyText {
		margin: 1.2rem;
		font-size: 0.8rem;
		color: rgba(43, 43, 43, 1);
		text-align: center;
	}
}
