.service {
	display: flex;
	flex-direction: column;
	background-color: bisque;
	width: 30%;
}

.bitmap {
	width: 100%;
	height: auto;
	justify-self: flex-start;
}

.bodyText {
	margin: 1rem;
	font-size: 1rem;
	color: rgba(43, 43, 43, 1);
	text-align: center;
}

@media screen and (max-width: 850px) {
	.service {
		background-color: bisque;
		width: 100%;
		margin-bottom: 40px;
	}
	.bodyText {
		margin: 1rem;
		font-size: 1rem;
		color: rgba(43, 43, 43, 1);
		text-align: center;
	}
}
